<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Password</th>
        </tr>
        <tbody>
            {{#each list}}
            <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.password}}</td>
            </tr>
            {{/each}}

        </tbody>
    </thead>
</table>